@import '../../sharedresources.scss';

.filterableProductTableContainer {
  // width: calculate-rem(650px);
  padding: calculate-rem(2px);

  background-color: #FFD700;

  border: calculate-rem(1px) solid #d8dee2;
  border-radius: calculate-rem(6px);
}

.tableSearch {
  padding: calculate-rem(10px);
  background-color: #F0F8FF;

  border: calculate-rem(1px) solid #d8dee2;
  border-radius: calculate-rem(6px);

  margin: 0 0 2px 0;
}

.tableContainer {
  padding: calculate-rem(10px);
  background-color: #F0F8FF;

  border: calculate-rem(1px) solid #d8dee2;
  border-radius: calculate-rem(6px);
}