@import '../../sharedresources.scss';

.filterableProductTableContainer {
  padding-top: calculate-rem(15px);
  padding-bottom: calculate-rem(15px);
  // padding-bottom: calculate-rem(40px);
  // background-color: #009900;

  .productTable {
    width: calculate-rem(650px);

    .tableContainer {
      padding: calculate-rem(15px);
      border: calculate-rem(1px) solid #d8dee2;
      border-radius: calculate-rem(6px);
      background-color: #ffffff;

    }
  }
}